<!DOCTYPE html>
<html>
  <head>
    <title>OnlyYou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header_bar">
        <h1 class="header_title">
          OnlyYou
        </h1>
        <ul class="user_info">
          <li>
            <%= link_to "ログイン",'#', class: 'post' %>
            <%= link_to "新規投稿",'#', class: 'post' %>
          </li>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="footer_title">
        Development team alone Keisuke 2021
      </p>
    </footer>
  </body>
</html>
